@import "vars";

.tabs-bar {
  @include break;
  border-bottom: 1px solid #dddddd;
  &__centered {
    text-align: center;
  }
  &--item {
    display: inline-block;
    margin-right: 10px;
    padding: 6px 10px;
    font-family: $alt-font;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-light-grey;
    &__active {
      font-weight: bold;
      border-bottom: 1px solid #ddd;
      color: $text-dark-grey;
    }
  }
  &-title {
    display: block;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
  }

  &-description {
    padding: 10px 13px 0 13px;
    font-weight: normal;
    font-family: $alt-font;
    font-size: 15px;
    font-style: italic;
  }
}
