{% extends "layout.njk" %}

{% block head %}
  <title>Sigfox Partner Network | Oops</title>
{% endblock %}

{% block content %}
<div id="app">
  <div class="app-wrapper no-touchable"  data-reactroot="" id="app-wrapper">
    <div class="header-bar" >
      <div class="section-inner" >
        <div class="header-logo" >
          <a class="logo"  href="/">Home</a>
        </div>
      </div>
    </div>
    <div  id="page-wrapper">
      <div class="_404" >
        <h3 >Oops something wrong happened...</h3>
        <b>That's our fault, your did nothing wrong.</b>
        <p>Please bear with us, our team is already working on it.</p>
      </div>
    </div>
    <div class="footer" >
      <div class="section-inner" >
        <div class="footer-col sigfox" >
          <div >
            <h3 >Sigfox</h3>
          </div>
          <div >
            <a  href="http://www.sigfox.com/#contact" target="_blank">Contact</a>
          </div>
          <div >
            <a  href="http://makers.sigfox.com/#about" target="_blank">Technology</a>
          </div>
          <div >
            <a  href="https://www.sigfox.com/coverage" target="_blank">Coverage</a>
          </div>
          <div >
            <a  href="http://makers.sigfox.com" target="_blank">Developers</a>
          </div>
        </div>
        <div class="footer-col information" >
          <div >
            <h3 >Stay informed</h3>
          </div>
          <div >
            <a  href="https://www.sigfox.com/press" target="_blank">News</a>
          </div>
          <div >
            <a  href="https://blog.sigfox.com" target="_blank">Sigfox Stories Blog</a>
          </div>
          <div >
            <a  href="http://www.sigfoxfoundation.org" target="_blank">Sigfox Foundation</a>
          </div>
        </div>
        <div class="footer-col legal" >
          <div >
            <h3 >Legal</h3>
          </div>
          <div >
            <a  href="/legals/notice" target="_blank">Legal Terms</a>
          </div>
          <div >
            <a  href="/legals/terms" target="_blank">Conditions</a>
          </div>
          <div >
            <a  href="/legals/privacy" target="_blank">Privacy</a>
          </div>
          <div >
            <a  href="/legals/privacy" target="_blank">Cookies Policy</a>
          </div>
        </div>
        <div class="footer-col address"  itemscope itemtype="http://schema.org/Organization">
          <div  itemprop="name">
            Sigfox
          </div>
          <div >
            <span >Proudly born and headquartered in Labège, South of France</span><span content="425 rue Jean Rostand"  itemprop="streetAddress"></span><span content="31670"  itemprop="postalCode"></span><span content="Labège, France"  itemprop="addressLocality"></span><span content="+33534310316"  itemprop="telephone"></span>
          </div>
          <div >
            <span >Offices in Paris, Boston, San Francisco, Singapore, Dubai, Munich, Madrid</span>
          </div>
          <div class="footer-col social" >
            <a  href="https://www.facebook.com/sigfox" target="_blank">
            <div class="footer-social icon-facebook" ></div></a><a  href="https://twitter.com/SIGFOX" target="_blank">
            <div class="footer-social icon-twitter" ></div></a><a  href="https://www.linkedin.com/company/sigfox" target="_blank">
            <div class="footer-social icon-linkedin" ></div></a>
          </div>
        </div>
      </div>
    </div><!-- react-empty: 201 -->
  </div>
</div>
{% endblock %}
