<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
  <meta charset="utf-8" />
  {% block head %} {% endblock %}
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/sigfox/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/sigfox/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/sigfox/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/sigfox/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/sigfox/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/sigfox/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/sigfox/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/sigfox/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/assets/sigfox/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/sigfox/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/sigfox/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/sigfox/favicon/favicon-160x160.png" sizes="160x160">
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="msapplication-TileColor" content="#005d5b">
  <meta name="msapplication-TileImage" content="/assets/sigfox/favicon/mstile-144x144.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% if config.env !== 'development' %}
    <link rel="stylesheet" href="/assets/main.{{config.version}}.css"/>
  {% endif %}
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
