@import 'normalize';
@import 'vars';

.table {
  border-left: 3px solid $sigfox-green;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
  tr {
    td, th {
      min-height: 40px;
      height: 40px;
      border-right: 1px solid $border-light-grey;
      padding: 0 12px;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.table-bordered {
  td, th {
    border-bottom: 1px solid $border-light-grey;
  }
}

.table-striped-grey {
  tbody tr:nth-child(odd) {
    background: $border-light-grey;
  }
}
.header-bar .section-inner {
  width: 100%;
  max-width: 800px;
  margin:auto;
  padding: 8px;
  h1 {
    font: {
      size: 18px;
      weight: lighter;
    }
    text-transform: uppercase;
    color: #4a4a4a
  }
}
.page {
  margin-top: 80px;
}
.page-section {
  max-width: 800px;
  margin: auto;
}

input[type=text] {
  line-height: 39px;
  padding: 1px 12px;
  height: 39px;
  border: 1px solid #bfc3ce;
  border-radius: 6px;
  width: 300px;
}
